<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="addAssignment">
          <form class="was-validated" #form="ngForm">
            <ng-template matStepLabel>Fill out the name and description of the assignment</ng-template>
            <div class="row">
              <div class="col-lg-10 col-md-11 col-sm-12">
                <div class="form-group">
                  <label for="assignmentName">Name</label>
                  <input [(ngModel)]="tassignment.assignmentName" id="assignmentName" name="assignmentName"
                    class="form-control" required>
                </div>
              </div>
              <div class="col-lg-2 col-md-1 col-sm-12">
                <div class="form-group">
                  <label for="inputavatar" id="imagelabel" class="btn btn-primary mt-4 w-100">
                    Add Image
                  </label>
                  <input type="file" name="inputavatar" id="inputavatar" #fileInput ng2FileSelect
                    [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''" multiple />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea [(ngModel)]="tassignment.description" id="description" name="desscription"
                    class="form-control" required></textarea>
                </div>
              </div>
            </div>
            <button [disabled]="form.invalid" class="btn btn-info" matStepperNext class="btn btn-info"
              (click)="addNameToAssignment()">Next</button>
          </form>
        </mat-step>
        <mat-step [stepControl]="addTags">
          <ng-template matStepLabel>Add tags</ng-template>
          <div class="row">
            <div class="col-12">
              <label for="tag">Tags</label>
              <input type="text" class="form-control" id="tag" name="tag" (keyup.enter)="addTag($event)"
                [(ngModel)]="tag">
              <span class="badge badge-primary mr-2 mt-2"
                *ngFor="let t of assignment.tagAssignments">{{t.tag.tagName}}</span>
            </div>
          </div>
          <button class="btn btn-warning mr-3" matStepperPrevious class="btn btn-warning mt-4 mr-4">Back</button>
          <button class="btn btn-info" matStepperNext class="btn btn-info mt-4">Next</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Overview</ng-template>
          <div class="row">
            <div class="col-12">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{assignment.assignmentName}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Description</th>
                    <td>{{assignment.description}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Company</th>
                    <td *ngIf="company">{{company.companyName}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Status</th>
                    <td>Draft</td>
                    <!-- {{assignment.status}} --  -->
                  </tr>
                  <tr>
                    <th scope="row">Tags</th>
                    <td>
                      <div *ngFor="let ta of assignment.tagAssignments">
                        {{ta.tag.tagName}}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button (click)="postAssignment()" class="btn btn-info">Add assignment</button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
