<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Choose company</ng-template>
    <ul>
      <li *ngFor="let c of companiesByUser">
        {{c.companyName}} <a (click)="selectCompany(c)" matStepperNext>Select this company</a>
      </li>
    </ul>
    <!-- <button mat-button matStepperNext>Next</button> -->
  </mat-step>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="addAssignment">
      <ng-template matStepLabel>Fill out the name and description of the assignment</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="assignmentName">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Add a description" formControlName="description"></textarea>
      </mat-form-field>
      <!-- <button type="submit" class="btn btn-default">New assignment</button> -->
      <button mat-button matStepperNext (click)="addNameToAssignment()">Next</button>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Add tags</ng-template>

    <label for="tag">Tags</label>
    <input type="text" class="form-control" id="tag" name="tag" (keyup.enter)="addTag($event)" [(ngModel)]="tag">
    <span class="badge badge-primary mr-2" *ngFor="let t of assignment.tags">{{t.tagName}}</span>

    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext (click)="addTagsToAssignment()">Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    {{assignment}}
    <button (click)="postAssignment()">Post</button>
    <div>
      <!-- <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button> -->
    </div>
  </mat-step>
</mat-horizontal-stepper>
