
hr {
    display: inline-block;
    width: 100%;
}

#companyimage {
    border-radius: 15px;
}

card-img-top {
    border-radius: 50%;
}

.modal-backdrop {
    display: none;
}

#editpen {
    position: absolute;
    top: 52%;
    left: 87%;
    cursor: pointer;
}

#inputavatar {
    display: none;
}