<mat-sidenav-container *ngIf="true">
        <mat-sidenav #sidenav mode="side" [fixedInViewport]="true" class="text-center">
            <ul class="list-group list-group-flush">
                    <li class="list-group-item va"  routerLink="/login" routerLinkActive="active"><i class="material-icons va">login</i>Login</li>
                    <li class="list-group-item va"  routerLink="/create-poll" routerLinkActive="active"><i class="material-icons va">library_add</i>Link</li>
                    <li class="list-group-item va"  routerLink="/myfriends" routerLinkActive="active"><i class="material-icons va">person_pin</i>Link</li>
                  </ul>
        </mat-sidenav>
        <mat-sidenav-content>
            <button mat-button (click)="toggleSideNav()"><i class="material-icons menuknop">
                    menu
                </i></button>
            <router-outlet *ngIf="true"></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li>
          <a routerLink="/assignments" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Assignments</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
