@import '~@angular/material/theming'; //imports we need to set our custom style

@include mat-core(); //includes the common styles for Angular Material

/*$helloworld-app-primary: mat-palette($mat-deep-purple); //color palette for primary

$helloworld-app-accent:  mat-palette($mat-pink); //color palette for accent

$helloworld-app-warn:    mat-palette($mat-red); //color palette for warn

$helloworld-app-theme: mat-light-theme($helloworld-app-primary, $helloworld-app-accent, $helloworld-app-warn); //creates the theme object

@include angular-material-theme($helloworld-app-theme); //theme object is included in the Angular Material Theme and will now be used throughout the application
*/

$light-primary: mat-palette($mat-pink, A200);
$light-accent:  mat-palette($mat-purple, 300);
$light-theme:   mat-light-theme($light-primary, $light-accent);
body {
  @include angular-material-theme($light-theme);
}



// $dark-primary: mat-palette($mat-blue-grey, 500);
// $dark-accent:  mat-palette($mat-amber, A200, A100, A400);
// $dark-theme:   mat-dark-theme($dark-primary, $dark-accent);


//   @include angular-material-theme($dark-theme);
