<!-- <button type="button" class="btn btn-default" (click)="GoToNewAssignment()">New Assignment</button> -->
<button type="button" class="btn btn-default" (click)="GoToNewCompany()">New Company</button>

<div class="accordion" id="accordionRecruiterDashboard">
  <div *ngFor="let c of companies" class="card">
    <div class="card-header" [id]="'heading'+ c.companyID">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse"
          [attr.data-target]="'#collapse' + c.companyID " aria-expanded="true" aria-controls="'collapse' + c.companyID">
          {{c.companyName}}
        </button>
      </h2>
    </div>

    <div [id]="'collapse' + c.companyID" class="collapse" aria-labelledby="'heading' + c.companyID"
      data-parent="#accordionRecruiterDashboard">
      <div class="card-body">
        <button type="button" class="btn btn-light" (click)="GoToNewAssignment(c.companyID)">New Assignment</button>
        <mat-card *ngFor="let assignment of c.assignments" class="assignment-card">
          <mat-card-title>{{assignment.assignmentName}}</mat-card-title>
          <mat-card-content>
            <p>
              {{assignment.description}}
            </p>
            <p>Status: {{assignment.status.currentStatus}}</p>

            <span class="badge badge-primary mr-2"
              *ngFor="let tagAssignment of assignment.tagAssignments">{{tagAssignment.tag.tagName}}</span>

            <!-- status is draft -> status to open -->
            <p *ngIf="assignment.status.currentStatus == 'Draft'">
              <button class="btn btn-light" (click)="editAssignment(assignment)">Edit</button>
              <button class="btn btn-light" (click)="publishAssignment(assignment)">Publish</button>
            </p>

            <!-- status is open -> status to closed -->
            <p *ngIf="assignment.status.currentStatus == 'Open'">
              <!-- apply -> student -->
              <button class="btn btn-light" (click)="closeAssignment(assignment)">Close assignment</button>
            </p>

            <!-- status is close -> status to finished -->
            <p *ngIf="assignment.status.currentStatus == 'Closed'">
              <button class="btn btn-light" (click)="finishAssignment(assignment)">Finish assignment</button>
            </p>
          </mat-card-content>
          <button type="button" class="btn btn-light"
            (click)="deleteAssignment(assignment.assignmentID)">delete</button>
          <button class="btn btn-light" (click)="viewAssignment(assignment)">View assignment</button>

          <div class="accordion" id="accordionUserAssignments">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Candidates
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                data-parent="#accordionUserAssignments">
                <div class="card-body">
                  <div *ngFor="let ua of assignment.userAssignments">
                    <p>{{ua.user.username}} ({{ua.user.name}} {{ua.user.lastName}})</p>
                    <button class="btn btn-light" (click)="acceptCandidate(assignment, ua.user.userID)">Accept this
                      candidate</button>
                    <button class="btn btn-light" (click)="declineCandidate(assignment, ua.user.userID)">Decline this
                      candidate</button>
                      <button class="btn btn-light" (click)="viewCandidate(ua.user.userID)">View info</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
