<div class="card" style="width: 18rem;">
    <img src="../../../../../../assets/user.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Manage Users</h5>
        <p class="card-text">Edit and delete users.</p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#ModalUsers" (click)="ngOnInit()">Open
            window</button>
    </div>
</div>

<div class="modal fade" id="ModalUsers" tabindex="-1" role="dialog" aria-labelledby="ModalUsersLabel" aria-hidden="true"
    data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="ModalUsersLabel">Manage users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="filterForm" autocomplete="off">
                        <div class="form-row">
                            <div class="form-group col-md-4 required">
                                <label>Username</label>
                                <input class="form-control" formControlName="Username">
                            </div>
                            <div class="form-group col-md-4 required">
                                <label>Email</label>
                                <input class="form-control" formControlName="Email">
                            </div>
                            <div class="form-group col-md-4 required">
                                <label>UserType</label>
                                <select class="custom-select" id="typeSelect" formControlName="UserType">
                                    <option value="admin">Admin</option>
                                    <option value="user">Freelancer</option>
                                    <option value="recruiter">Recruiter</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="overflow-auto">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Account type</th>
                                    <th scope="col">Edit user</th>
                                    <th scope="col">Delete user</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <th scope="row">{{user.userID}}</th>
                                    <td>{{user.username}}</td>
                                    <td>{{user.email}}</td>
                                    <td *ngIf="user.userType.type=='user'">Freelancer</td>
                                    <td *ngIf="user.userType.type=='recruiter'">Recruiter</td>
                                    <td *ngIf="user.userType.type=='admin'">Admin</td>
                                    <td><button type="button" (click)="selectUser(user)"
                                            class="btn btn-success">Edit</button></td>
                                    <td><button type="button" (click)="deleteUser(user.userID)"
                                            class="btn btn-warning">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form *ngIf="user.username!=''" class="was-validated">
                        <h5>Personal info of {{user.username}}</h5>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Name</label>
                                <input class="form-control" name="Name" [(ngModel)]="user.name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Lastname</label>
                                <input class="form-control" name="LastName" [(ngModel)]="user.lastName" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input class="form-control" name="Email" [(ngModel)]="user.email" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Username</label>
                                <input class="form-control" name="Username" [(ngModel)]="user.username" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Birthyear</label>
                                <input class="form-control" name="Birthyear" [(ngModel)]="user.birthYear" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Street + number</label>
                                <input class="form-control" name="Address" [(ngModel)]="user.location.address" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Postcode</label>
                                <input class="form-control" name="PostCode" [(ngModel)]="user.location.postcode" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Country</label>
                                <select name="country" id="country" class="custom-select" [(ngModel)]="user.location.country" required>
                                    <option *ngFor="let c of countries" [value]="c.name">{{c.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Bio</label>
                                <textarea class="form-control" name="Bio" rows="4" [(ngModel)]="user.bio" required></textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Mobile</label>
                                <input class="form-control" name="MobileNumber" required
                                    [(ngModel)]="user.contactInfo.mobileNumber">
                            </div>
                            <div class="form-group col-md-3">
                                <label>LinkedIn</label>
                                <input class="form-control" name="LinkedIn" [(ngModel)]="user.contactInfo.linkedIn">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Account type</label>
                                <select class="custom-select" name="userType" [(ngModel)]="user.userType.type" required>
                                    <option value="user">Freelancer</option>
                                    <option value="recruiter">Recruiter</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                        </div>
                        <h5>Skills
                            <small class="text-muted" *ngIf="user.userSkills.length > 0">Double click on card to
                                delete</small>
                        </h5>

                        <select class="custom-select mb-3" id="skillSelect" name="skillSelect" *ngIf="skills.length != 0"
                            (change)="onChange($event.target.value)">
                            <option value="" selected>Choose here</option>
                            <option *ngFor="let skill of skills" value="{{skill.skillID}}">{{skill.skillName}}</option>
                        </select>

                        <div class="card mb-3" *ngFor="let skill of user.userSkills" (dblclick)="deleteSkill(skill)">
                            <div class="card-body">
                                <p class="card-title text-primary">{{skill.skill.skillName}}</p>
                                <p class="card-subtitle text-muted" *ngIf="skill.skill.category!=null">
                                    {{skill.skill.category.categoryName}}</p>
                            </div>
                        </div>
                        <h5>Tags
                            <small class="text-muted" *ngIf="user.tagUsers.length > 0">Double click on badge to
                                delete</small>
                        </h5>
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <input class="form-control" name="tag" #newtag>
                            </div>
                            <div class="form-group col-md-22">
                                <input type="button" class="btn btn-primary btn-pill" value="Add tag"
                                    (click)="addTag(newtag.value)">
                            </div>
                        </div>
                        <span class="badge badge-primary mr-2 mb-2" *ngFor="let t of user.tagUsers"
                            (dblclick)="deleteTag(t)">{{t.tag.tagName}}</span>
                        <div class="form-row">
                            <button type="button" (click)="saveUser()" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>