.card{
    margin-bottom: 10px;
}
h6{
    font-size: small;
}

.tableimage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.resetknop {
    background-color: #0067F4;
    color: white;
}
.va {
    vertical-align: bottom;
  
}