<div class=container>
    <h3>Browse assignments</h3>
    <form [formGroup]="filterForm" autocomplete="off">
            <div class="form-row">
            <div class="form-group required">
              <label>Title</label>
              <input class="form-control" formControlName="Title">
            </div>
            </div>
          </form>
        <div class="row align-items-center">
            <div class="col" *ngFor="let assignment of assignments; index as i">
                <div class="card" style="width: 18rem;">
                    <img *ngIf="assignments[i].image==''" src="../../../assets/sea.jfif" class="card-img-top" alt="img">
                    <img *ngIf="!assignments[i].image==''" src="{{assignments[i].image}}" class="card-img-top"
                        alt="img">
                    <div class="card-body">
                        <h5 class="card-title">{{assignments[i].assignmentName}}</h5>
                        <p class="card-text">{{assignments[i].description.substring(0,60)}}...
                        </p>
                        <button class="btn btn-primary"
                            (click)="btnAssignmentDetails(assignments[i].assignmentID)">Details {{i}}</button>
                    </div>
                    <div class="card-footer">
                        <span class="badge badge-primary mr-2" *ngFor="let tagAssignment of assignments[i].tagAssignments">{{tagAssignment.tag.tagName}}</span>
                      </div>
                </div>
                
            </div>
        </div>
    </div>