<div class="container">
    <h3>Account information</h3>
    <div class="row">
        <div class="col-sm-12 col-lg-3 pic">
            <div>
                <img src="../../../assets/profilepic.png" height="200px" width="200px">
            </div>
            <div>
                <h6 class="pt-2">{{user.username}}</h6>
            </div>
            <div class="w-75 mx-auto">
                <span class="badge badge-primary mr-2 mb-2" *ngFor="let t of user.tagUsers">{{t.tag.tagName}}</span>
            </div>
        </div>
        <div class="col-sm-12 col-lg-9">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab"
                        aria-controls="personal" aria-selected="true">Personal info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="assignments-tab" data-toggle="tab" href="#assignments" role="tab"
                        aria-controls="assignments" aria-selected="false">Assignments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab"
                        aria-controls="skills" aria-selected="false">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab"
                        aria-controls="reviews" aria-selected="false">Reviews</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mt-1" id="personal" role="tabpanel" aria-labelledby="personal-tab"
                    *ngIf="user != null && user.contactInfo != null">
                    <div class="row my-3">
                        <div class="col-sm-12 col-lg-6">
                            <div class="font-weight-bold">Name:</div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            {{user.name}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-lg-6">
                            <div class="font-weight-bold">Lastname:</div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            {{user.lastName}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-lg-6">
                            <div class="font-weight-bold">Email:</div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            {{user.email}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-lg-6">
                            <div class="font-weight-bold">Birthyear:</div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            {{user.birthYear}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-lg-6">
                            <div class="font-weight-bold">Bio:</div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            {{user.bio}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-lg-6">
                            <div class="font-weight-bold">Contact:</div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div>{{user.contactInfo.mobileNumber}}</div>
                            <div>{{user.contactInfo.linkedIn}}</div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show mt-3" id="assignments" role="tabpanel" aria-labelledby="assignments-tab">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4" *ngFor="let assignment of user.userAssignments">
                            <div class="card" *ngIf="assignment.assignment.status != null && !zeroAssignments">
                                <img class="card-img-top"
                                    src="https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"
                                    alt="Assignment image">
                                <div class="card-body">
                                    <h4 class="card-title">{{assignment.assignment.assignmentName}}</h4>
                                    <p class="card-text">{{assignment.assignment.description}}</p>
                                    <a href="#" class="btn btn-primary">Tell me more &rarr;</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ngIf="user.userAssignments != null && zeroAssignments">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">No assignments 😢</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show mt-3" id="skills" role="tabpanel" aria-labelledby="skills-tab">
                    <div class="card mb-3" *ngFor="let skill of user.skills">
                        <div class="card-body">
                            <p class="card-title text-primary">{{skill.skillName}}</p>
                            <p class="card-subtitle text-muted">{{skill.category.categoryName}}</p>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="user.skills != null && user.skills.length==0">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">No skills 😢</h4>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade show mt-3" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4" *ngFor="let review of user.reviews">
                            <div class="card mb-3">
                                <img class="card-img-top"
                                    src="https://designrevision.com/demo/shards/images/stock-photos/3.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">{{review.title}} <span class="badge badge-success"
                                            *ngIf="review.score>5">{{review.score}}</span><span
                                            class="badge badge-danger" *ngIf="review.score<=5">{{review.score}}</span>
                                    </h4>
                                    <h6 class="card-subtitle text-muted">By {{review.company.companyName}}</h6>
                                    <p class="card-text">{{review.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ngIf="user.reviews != null && user.reviews.length==0">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">No reviews 😢</h4>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>