<div class="container">
  <div class="col-12">
    <div class="accordion" id="accordionAssignments">
      <div class="card">
        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          <h4 class="mb-0">
            Requested Assignments
            <i class="fas fa-sort-down float-right text-primary"></i>
          </h4>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionAssignments">
          <div class="row" *ngIf="requestedAssignments!=null">
            <div class="col-lg-4 col-md-6 col-sm-12 w-100 d-flex align-items-stretch"
              *ngFor="let assignment of requestedAssignments">
              <div class="card m-4">
                <img *ngIf="assignment.image==''" src="../../../../../assets/sea.jfif" class="card-img-top" alt="img">
                <img *ngIf="assignment.image!=''" [src]="assignment.image" class="card-img-top" alt="img">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{assignment.assignmentName}}</h5>
                  <h6 class="card-subtitle text-muted">By {{assignment.company.companyName}}</h6>
                  <p>{{assignment.description.substring(0,60)}}</p>
                  <button type="button" class="btn btn-primary mb-2 mt-auto" (click)="viewDetails(assignment)">View
                    Details</button>
                  <button type="button" class="btn btn-danger mt-auto"
                    (click)="cancelAssignment(assignment)">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="requestedAssignments == null">
            <div class="card m-4">
              <div class="card-header">
                <h4 class="card-title text-primary">You don't have any requested assignments 😢</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
          aria-controls="collapseTwo">
          <h4>Assignments In Progress
            <i class="fas fa-sort-down float-right text-primary"></i>
          </h4>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAssignments">
          <div class="row" *ngIf="inProgressAssignments!=null">
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch"
              *ngFor="let assignment of inProgressAssignments">
              <div class="card m-4 w-100">
                <img *ngIf="assignment.image==''" src="../../../../../assets/sea.jfif" class="card-img-top" alt="img">
                <img *ngIf="assignment.image!=''" [src]="assignment.image" class="card-img-top" alt="img">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{assignment.assignmentName}}</h5>
                  <h6 class="card-subtitle text-muted">By {{assignment.company.companyName}}</h6>
                  <p>{{assignment.description.substring(0,60)}}</p>
                  <button type="button" class="btn btn-primary mb-2 mt-auto" (click)="viewDetails(assignment)">View
                    Details</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="inProgressAssignments==null">
            <div class="card m-4 w-100">
              <div class="card-header">
                <h4 class="card-title text-primary">You don't have any assignments in progress 😢</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">
          <h4>Finished assignments
            <i class="fas fa-sort-down float-right text-primary"></i>
          </h4>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionAssignments">
          <div class="row" *ngIf="finishedAssignments!=null">
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch"
              *ngFor="let assignment of finishedAssignments">
              <div class="card m-4 w-100">
                <img *ngIf="assignment.image==''" src="../../../../../assets/sea.jfif" class="card-img-top" alt="img">
                <img *ngIf="assignment.image!=''" [src]="assignment.image" class="card-img-top" alt="img">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{assignment.assignmentName}}
                    <button *ngIf="checkIfUserReviewedCompany(assignment.company.companyID)" type="button"
                      class="btn btn-light btn-circle btn-md float-right" (click)="changeCompany(assignment.company)"
                      data-toggle="modal" data-target="#reviewModal"> <i class="fas fa-feather-alt fa-2x text-info"
                        id="addreview"></i></button>
                  </h5>
                  <h6 class="card-subtitle text-muted">By {{assignment.company.companyName}}</h6>
                  <p>{{assignment.description.substring(0,60)}}</p>
                  <button type="button" class="btn btn-primary mb-2 mt-auto" (click)="viewDetails(assignment)">View
                    Details</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="finishedAssignments==null">
            <div class="card m-4 w-100">
              <div class="card-header">
                <h4 class="card-title text-primary">You don't have any finished assignmens 😢</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel"
  aria-hidden="true" data-backdrop="false" *ngIf="company!=null">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="reviewModalLabel">Give your opinion about {{company.companyName}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label for="reviewtitle">Title</label>
                <input type="text" class="form-control" id="reviewtitle" name="reviewtitle" [(ngModel)]="review.title">
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label for="reviewdescription">Description</label>
                <input type="text" class="form-control" id="reviewdescription" name="reviewdescription"
                  [(ngModel)]="review.description">
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label for="reviewscore">Score</label>
                <input type="number" class="form-control" id="reviewscore" name="reviewscore" min="0"
                  [(ngModel)]="review.score">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addReview()">Add review</button>
      </div>
    </div>
  </div>
</div>