<div class="accordion" id="accordionAssignments">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <h4>Requested Assignments</h4>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionAssignments">
      <div class="card-body">

        <div *ngIf="requestedAssignments">
          <mat-card *ngFor="let assignment of requestedAssignments" class="assignment-card">
            <mat-card-title>{{assignment.assignmentName}}</mat-card-title>
            <mat-card-content>
              <p>
                {{assignment.description}}
              </p>
            </mat-card-content>
            <button type="button" class="btn btn-light" (click)="cancelAssignment(assignment)">Cancel</button>
            <button type="button" class="btn btn-light" (click)="viewDetails(assignment)">View Details</button>
          </mat-card>
          <div *ngIf="requestedAssignments.length == 0">
            <mat-card class="assignment-card">
              <p>No requested assignments</p>
            </mat-card>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          <h4>Assignments In Progress</h4>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAssignments">
      <div class="card-body">

        <div *ngIf="inProgressAssignments">
          <mat-card *ngFor="let assignment of inProgressAssignments" class="assignment-card">
            <mat-card-title>{{assignment.assignmentName}}</mat-card-title>
            <mat-card-content>
              <p>
                {{assignment.description}}
              </p>
            </mat-card-content>
            <button type="button" class="btn btn-light" (click)="viewDetails(assignment)">View Details</button>
          </mat-card>
          <div *ngIf="inProgressAssignments.length == 0">
            <mat-card class="assignment-card">
              <p>No assignments in progress</p>
            </mat-card>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">
          <h4>Finished Assignments</h4>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionAssignments">
      <div class="card-body">

        <div *ngIf="finishedAssignments">
          <mat-card *ngFor="let assignment of finishedAssignments" class="assignment-card">
            <mat-card-title>{{assignment.assignmentName}}</mat-card-title>
            <mat-card-content>
              <p>
                {{assignment.description}}
              </p>
            </mat-card-content>
            <button type="button" class="btn btn-light" (click)="viewDetails(assignment)">View Details</button>
            <button *ngIf="checkIfUserReviewedCompany(assignment.company.companyID)" type="button" class="btn btn-light btn-circle btn-md float-right" (click)="changeCompany(assignment.company)" data-toggle="modal"
            data-target="#reviewModal"> <i class="fas fa-feather-alt fa-2x text-info" id="addreview"></i></button>
          </mat-card>
          <div *ngIf="finishedAssignments.length == 0">
            <mat-card class="assignment-card">
              <p>No finished assignments</p>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="reviewModalLabel">Give your opinion about your </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label for="reviewtitle">Title</label>
                <input type="text" class="form-control" id="reviewtitle" name="reviewtitle" [(ngModel)]="review.title">
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label for="reviewdescription">Description</label>
                <input type="text" class="form-control" id="reviewdescription" name="reviewdescription"
                  [(ngModel)]="review.description">
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label for="reviewscore">Score</label>
                <input type="number" class="form-control" id="reviewscore" name="reviewscore" min="0"
                  [(ngModel)]="review.score">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addReview()">Add review</button>
      </div>
    </div>
  </div>
</div>
