<div *ngIf="assignment">
  <h3>Assignment</h3>
  <form [formGroup]="updateAssignment">
    <div class="form-group required">
      <label for="assignmentName">Name</label>
      <input class="form-control" formControlName="assignmentName">
    </div>
    <div>
      <label for="description">Description</label>
      <input class="form-control" formControlName="description">
    </div>
    <div>
      <label for="company">Company</label>
      <input class="form-control" disabled formControlName="company">
    </div>
    <div>
      <label for="location">Location</label>
      <!-- <input class="form-control" disabled formControlName="location"
        value={{assignment.location.address}}> -->
        <p>{{assignment.location.country}}, {{assignment.location.postcode}}, {{assignment.location.address}}</p>
    </div>
    <div>
      <label for="status">Status</label>
      <input class="form-control" disabled formControlName="status">
    </div>
    <br>
    <div class="col-lg-3 col-md-3 col-sm-12">
        <label for="inputavatar" id="imagelabel" class="btn btn-primary">
          Add Image
        </label>
        <input type="file" name="inputavatar" id="inputavatar" #fileInput ng2FileSelect [style.display]="'none'"
          [uploader]="uploader" (change)="fileInput.value=''" multiple />
      </div>
    <p><button (click)="putAssignment()" class="btn btn-light">Save</button></p>
  </form>

  <h3>Tags</h3>
  <div>
    <!-- <label for="tag">Tags</label> -->
    <input type="text" class="form-control" id="tag" name="tag" (keyup.enter)="addTag($event)" [(ngModel)]="tag">
    <!-- <span class="badge badge-primary mr-2" *ngFor="let t of assignment.tags">{{t.tagName}}</span> -->
  </div>
  <p *ngFor="let t of assignment.tagAssignments">
    {{t.tag.tagName}} - <button (click)="deleteTagAssignment(t)">Delete</button>
  </p>

  <!-- <p><button (click)="saveAssignment()" class="btn btn-light">Save</button></p> -->
</div>
