<!-- <form>
  <label for="assignmentName">Name</label>
  <input [(ngModel)]="tassignment.assignmentName" id="assignmentName" name="assignmentName" class="form-control">
  <label for="description">Description</label>
  <input [(ngModel)]="tassignment.description" id="description" name="desscription" class="form-control">
  <label for="tag">Tags (Enter om toe te voegen)</label>
  <input type="text" class="form-control" id="tag" name="tag" (keyup.enter)="addTag($event)" [(ngModel)]="tag">
  <div *ngIf="assignment">
    <span class="badge badge-primary mr-2" *ngFor="let t of assignment.tags">{{t.tagName}}</span>
  </div>
  <br>
  <p><button (click)="putAssignment()" class="btn btn-light">Save</button></p>
</form> -->

<div *ngIf="assignment">
  <form [formGroup]="updateAssignment">
    <div class="form-group required">
      <label for="assignmentName">Name</label>
      <input class="form-control" formControlName="assignmentName">
    </div>
    <div>
      <label for="description">Description</label>
      <input class="form-control" formControlName="description">
    </div>
    <div>
      <label for="company">Company</label>
      <input class="form-control" disabled formControlName="company">
    </div>
    <div>
        <label for="status">Status</label>
        <input class="form-control" disabled formControlName="status">
    </div>
    <!-- <div>
      <label for="tag">Tags</label>
      <input type="text" class="form-control" id="tag" name="tag" (keyup.enter)="addTag($event)" [(ngModel)]="tag">
      <span class="badge badge-primary mr-2" *ngFor="let t of assignment.tags">{{t.tagName}}</span>
    </div> -->

    <br>
    <p><button (click)="putAssignment()" class="btn btn-light">Save</button></p>
  </form>
</div>
