<div class="container" *ngIf="assignment!=null">
  <div class="row">
    <div class="col-2">
      <button class="btn btn-info w-100 mb-3 mt-3" (click)="pageBack()"><i class="fas fa-arrow-left"></i> Go
        back</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <h1 class="text-primary">{{assignment.assignmentName}}
        <span *ngIf="isAuthorized">
          <button type="button" class="btn btn-primary btn-pill m-2"
            (click)="editAssignment(assignment.assignmentID)">Edit</button>
          <button type="button" class="btn btn-danger btn-pill m-2"
            (click)="deleteAssignment(assignment.assignmentID)">Delete</button>
        </span>
      </h1>
      <p class="text-muted">{{assignment.description}}</p>
      <h5><i class="material-icons">my_location</i> {{assignment.location.address}}, {{assignment.location.postcode}},
        {{assignment.location.country}}</h5>
      <h5><i class="material-icons">assignment</i> Status : {{assignment.status.currentStatus}}</h5>

      <div *ngIf="isUser == true">
        <div *ngIf="alreadyApplied == false">
          <button type="button" *ngIf="!success" class="btn btn-primary btn-pill m-2" (click)="apply(assignment)">Apply
            for this assignment</button>
          <div class="alert alert-success" role="alert" *ngIf="success">
            Successfully applied!
            <button type="button" class="btn btn-light" (click)="cancelAssignment(assignment)">Cancel</button>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="error">
            Error applying!
          </div>
        </div>
        <div *ngIf="alreadyApplied == true">
          <div class="alert alert-success" role="alert">
            Successfully applied!
            <button type="button" class="btn btn-light" (click)="cancelAssignment(assignment)">Cancel</button>
          </div>
        </div>
      </div>

      <h5 class="text-primary company" (click)="btnSelectCompany(assignment.company.companyID)"><i
          class="fas fa-building"></i> {{assignment.company.companyName}}</h5>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mt-2">

      <img *ngIf="assignment.image==''" src="../../../assets/sea.jfif" class="img-fluid" alt="img">
      <img *ngIf="assignment.image!=''" src="{{assignment.image}}" class="img-fluid" alt="img">

      <h4 class="text-muted mt-3 mb-2">
        <hr>
      </h4>
      <span class="badge badge-primary mr-2 mb-2" *ngFor="let ta of assignment.tagAssignments">{{ta.tag.tagName}}</span>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="isAuthorized">
        <div class="accordion" id="accordionUserAssignments">
          <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <h5 class="mb-0">
                <i class="material-icons">people_alt</i> View Candidates
                <i class="fas fa-sort-down float-right text-primary"></i>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
              data-parent="#accordionUserAssignments">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let ua of assignment.userAssignments">
                    <div class="card w-100">
                      <img *ngIf="ua.user.image==''" class="card-img-top" src="../../../../assets/profilepic.png"
                        alt="profilepic">
                      <img *ngIf="ua.user.image!=''" class="card-img-top" [src]="ua.user.image" alt="profilepic">
                      <div class="card-body d-flex flex-column">
                        <h4 class="card-title">{{ua.user.name}} {{ua.user.lastName}}</h4>
                        <h5 class="card-subtitle text-muted">{{ua.user.username}}</h5>
                        <div *ngIf="isAccepted == false">
                          <button class="btn btn-success mb-2 w-100"
                            (click)="acceptCandidate(assignment, ua.user.userID)">Accept
                            this
                            candidate</button>
                          <button class="btn btn-danger mb-2 w-100"
                            (click)="declineCandidate(assignment, ua.user.userID)">Decline
                            this
                            candidate</button>
                        </div>
                        <div *ngIf="isAccepted == true">
                          <div class="alert alert-success" role="alert">
                            Successfully accepted!
                          </div>
                        </div>
                        <button class="btn btn-primary" (click)="viewCandidate(ua.user.userID)">View info</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="assignment==null">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>