<div class="container">
                <h3>Featured assignments</h3>
        <div class="row align-items-center">
                
                <div class="col" *ngFor="let assignment of assignments">
                        <div class="card" style="width: 18rem;">
                                        <img *ngIf="assignment.image==''" src="../../../assets/sea.jfif" class="card-img-top" alt="img">
                                        <img *ngIf="!assignment.image==''" src="{{assignment.image}}" class="card-img-top" alt="img">
                                <div class="card-body">
                                        <h5 class="card-title">{{assignment.assignmentName}}</h5>
                                        <p class="card-text">{{assignment.description.substring(0,60)}}...</p>
                                        <button (click)="btnSelectAssignment(assignment.assignmentID)" class="btn btn-primary">Details</button>
                                </div>
                        </div>
                </div>
        </div>
        <h3>Featured companies</h3>
        <div class="row align-items-center">
                <div class="col" *ngFor="let company of companies">
                        <div class="card" style="width: 18rem;">
                                <img src="../../../assets/company.jpg" class="card-img-top" alt="img">
                                <div class="card-body">
                                        <h5 class="card-title">{{company.companyName}}</h5>
                                        <p class="card-text">{{company.about.substring(0,60)}}...</p>
                                        <button (click)="btnSelectCompany(company.companyID)" class="btn btn-primary">Details</button>
                                </div>
                        </div>
                </div>
        </div>
</div>