<div class="card" style="width: 18rem;">
    <img src="../../../../../../assets/assignment.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Manage Assignments</h5>
        <p class="card-text">Manage assignments.</p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#ModalAssignments">Open window</button>
    </div>
</div>

<div class="modal fade" id="ModalAssignments" tabindex="-1" role="dialog" aria-labelledby="ModalAssignmentsLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="ModalAssignmentsLabel">Manage assignments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-createassignment-list"
                                data-toggle="list" href="#list-createassignment" role="tab"
                                aria-controls="create">Create</a>
                            <a class="list-group-item list-group-item-action" id="list-editassignment-list"
                                data-toggle="list" href="#list-editassignment" role="tab" aria-controls="edit">Edit</a>
                            <a class="list-group-item list-group-item-action" id="list-deleteassignment-list"
                                data-toggle="list" href="#list-deleteassignment" role="tab"
                                aria-controls="delete">Delete</a>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-createassignment" role="tabpanel"
                                aria-labelledby="list-createassignment-list">

                            </div>
                            <div class="tab-pane fade" id="list-editassignment" role="tabpanel"
                                aria-labelledby="list-editassignment-list">

                            </div>
                            <div class="tab-pane fade" id="list-deleteassignment" role="tabpanel"
                                aria-labelledby="list-deleteassignment-list">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>